<app-navbar></app-navbar>
<div class="container-fluid">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form [formGroup]="loginform" (ngSubmit)="login()">
                <div class="mb-3">
                  <label  class="form-label">Username</label>
                  <input type="text" class="form-control" formControlName="username" >
                </div>
                <div *ngIf="username?.touched&&username?.errors?.['required']" class="alert alert-danger">This feld is Required</div>
                <div class="mb-3">
                  <label  class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" >
                </div>
                <div *ngIf="password?.touched&&password?.errors?.['required']" class="alert alert-danger">This feld is Required</div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <ul>    
                <li class="alert alert-danger" *ngFor='let student of errors;'>    
                    {{student}}   
            </ul>  
        </div>
        <div class="col-4">
          
        </div>
    </div>
</div>